#content{width:900px; margin:0 auto;background-color:LemonChiffon}
body{background-color:black}

/**index.html,contact.html**/
#inContent{
margin-top: 10px;
width:100%;background-color:LemonChiffon;
box-shadow: 10px 10px 5px #141414;
 -moz-box-shadow: 10px 10px 5px #141414;
 -webkit-box-shadow: 10px 10px 5px #141414;
}
#inContent h1 {
width:90%;
margin:0 auto;
background-color:	#181818;
 color:yellow;
 text-align:center;
 border: solid 1px #101010;
 border-radius: 0.5em;
 -webkit-border-radius: 0.5em;
 -moz-border-radius: 0.5em;
 box-shadow: 10px 10px 5px #888888;
 -moz-box-shadow: 10px 10px 5px #888888;
 -webkit-box-shadow: 10px 10px 5px #888888;
 }
#inContent .des {font-size:2em}

/***resume.html**/
#inContent #tab {
margin-left:50px;
}

#inContent #tab > span {
display:inline-block;
/*cursor: pointer; */
cursor:url('aero-x-large-middle-finger-2.cur'), pointer;
border: solid  1px 		#999900;
margin:0px;
padding:0px;
font-size: 1.34em;
background: 	-webkit-linear-gradient(top, #FFFF00, 	#FFFF33,  	#E6E600);
background: 	-moz-linear-gradient(top, #FFFF00, 	#FFFF33,  	#E6E600);
background: 	-o-linear-gradient(top, #FFFF00, 	#FFFF33,  	#E6E600);
background: 	linear-gradient(to bottom, #FFFF00, 	#FFFF33,  	#E6E600);
}
#inContetent #tab_content > div{margin-top: 10px;}
#inContent #tab_content > div .skill_category{text-decoration: underline; margin-left:10px; display:block;}
#inContent #tab_content > div .skill{margin-left:20px;display:block}
#inContent #tab_content > div .col2 {width:47%; display:inline-block;  vertical-align:top}
#inContent #tab_content > div {font-size:1.5em;width:100%;}
#inContent table {margin-left: 20px}
#inContent table .border_right {width: 250px; margin: 0 auto}
#inContent #tab_content > div span.goRight{float:right;margin-right:5px}
#inContent #tab_content > div span.block{display:block; margin-left:5px}
#inContent #tab_content > div p, #inContent .res div{margin-left:5px}

/**menu style*/

#menu{width:100%;margin:0 auto; padding:0;background-color:black}
#menu a{margin-right:-3px;padding:0;position:relative}
#menu a img{margin-bottom:-3.5px;}

/**tab.html style*/
div#tabcontent div{position:absolute;background-color:azure;width:900px}

div#tab span{padding-left:4px; padding-right:4px;border-left:solid 0.2em;border-right:solid 0.2em}
